body {
  background: #f8efe7;
  font-family: monospace;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 2%;
}

@media only screen and (max-width: 401px) {
  .container {
    width: 97.5%;
  }
}

h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 5;
}

.decade > p {
  text-align: center;
  /* font-weight: bold; */
}

.playing + p {
  font-weight: bold;
}

#now-playing {
  font-weight: 600;
}

.legend {
  margin-top: 10px;
  margin-bottom: 2%;
  line-height: 1;
}

.legend .four,
.legend .five,
.legend .six,
.legend .seven,
.legend .eight,
.legend .nine,
.legend .twenty,
.legend .twentyTen {
  width: 80px;
  height: 40px;
}

.legend-items {
  display: flex;
  justify-content: space-between;
}

/* waffle style */
.countries {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.usa,
.russia,
.others {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.four,
.five,
.six,
.seven,
.eight,
.nine,
.twenty,
.twentyTen {
  width: 20px;
  height: 20px;
  margin: 1px;
  background-position: left top;
  background-attachment: fixed;
  opacity: 0.5;
}

.playing {
  font-weight: 800;
  filter: drop-shadow(0px 0px 2px #000);
  opacity: 1;
  border-radius: 10px;
}

.fixed {
  position: sticky;
  top: -2;
  background-color: #f8efe7;
  /* animation: change-background 240s ease; */
  z-index: 999;
}

/* .four:hover,
.five:hover,
.six:hover,
.seven:hover,
.eight:hover,
.nine:hover,
.twenty:hover,
.twentyTen:hover {
  filter: drop-shadow(0px 0px 3px #000);
  opacity: 0.9;
} */

/* .usa:hover {
  opacity: 0.2;
} */
/* .usa:hover div:hover a {
  opacity: 0.5;
} */
/* .usa:hover div:hover a:hover {
  opacity: 1;
} */

.four {
  background-image: url(data/patterns/four.jpg);
  background-size: 12.5%;
}

.five {
  background-image: url(data/patterns/five.jpg);
  background-size: 12.5%;
}

.six {
  background-image: url(data/patterns/six.jpg);
  background-size: 12.5%;
}

.seven {
  background-image: url(data/patterns/seven.jpg);
  background-size: 15%;
}

.eight {
  background-image: url(data/patterns/eight.png);
  background-size: 12.5%;
}

.nine {
  background-image: url(data/patterns/nine.jpg);
  background-size: 12.5%;
}

.twenty {
  background-image: url(data/patterns/twenty.png);
  background-size: 12.5%;
}

.twentyTen {
  background-image: url(data/patterns/twentyTen.jpg);
  background-size: 15%;
}
