* {
  --main-bg-color: #fcf5ed;
  --plot-one: #d57966;
  --plot-two: #4e6a73;
  --plot-three: #70a092;
  --plot-four: #cb9844;
  --plot-five: #66495c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: var(--main-bg-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #d57966;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #3b3b3d;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.title {
  text-align: right;
}

.title > p {
  margin-top: -1.9rem;
}
.title > h2 {
  margin-top: 3rem;
}

.chart {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  background-color: var(--main-bg-color);
}

button,
select {
  height: 35px;
  min-width: 120px;
  border-radius: 6px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #66495c;
  background-color: var(--main-bg-color);
  cursor: pointer;
  border-color: #66495c;

  transition: 0.2s all ease-in-out;
}

button {
  opacity: 0;
}

button:hover,
select:hover {
  background-color: #66495c;
  color: #fff;
  transition: 0.2s all ease-in-out;
}

.button-box {
  float: right;
  top: 20px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 999;
}

#active-movie {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  margin-top: 0px;
  /* margin-bottom: 0px; */
}

hr {
  margin: 40px 0;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: #68696b;
  opacity: 0.8;
}

#plot-one {
  fill: var(--plot-one);
  background-color: var(--plot-one);
}

#plot-two {
  fill: var(--plot-two);
  background-color: var(--plot-two);
}

#plot-three {
  fill: var(--plot-three);
  background-color: var(--plot-three);
}

#plot-four {
  fill: var(--plot-four);
  background-color: var(--plot-four);
}

#plot-five {
  fill: var(--plot-five);
  background-color: var(--plot-five);
}

.line {
  opacity: 0.5;
}

.line:hover {
  opacity: 0.9;
  cursor: pointer !important;
}

.active rect {
  opacity: 1 !important;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.inactive rect {
  opacity: 0.1 !important;
  transition: all 0.1s ease-in-out;
}
rect {
  rx: 1;
  ry: 1;
}

.bar:hover {
  cursor: pointer;
}

.info-section {
  margin-top: 2rem;
  width: 97.5%;
  margin-left: 2.5%;
  /* margin: 0 auto; */
}

/* .title-section {
  display: flex;
  justify-content: space-between;
} */

.dynamic-content {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}

.points-text {
  /* margin-left: 2rem; */
  /* margin-top: 100px; */
  margin-top: -0.4rem;
}

/* tooltip */
div.tooltip {
  position: absolute;
  max-width: 350px;
  text-align: left;
  display: inline;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: #fff;
  border: 0px;
  border-radius: 6px;
  pointer-events: none;
  color: #3b3b3d;
  filter: drop-shadow(0px 2px 10px #3b3b3d);
}

.tooltip h5 {
  padding: 0;
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
}

/* table styles */

.plot-icon {
  width: 50px;
  padding: 0rem 1rem 0.25rem 0rem;
  margin-right: 1rem;
}

#nowrap {
  white-space: nowrap;
}

.film-info-table {
  margin-top: 1.5rem;
  /* border: 1px dashed #68696b; */
}

table {
  font-family: "Anonymous Pro", monospace;
  font-size: 80%;
  line-height: 1.5;
  text-align: right;
  vertical-align: bottom;
  margin: 1rem 0% 5rem 0%;
  width: 100%;
  max-width: 1800px;
}

td div,
th div {
  width: calc(100vw - 500px);
  max-height: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: 0.5s all ease-in-out;
  transition-delay: 0.15s;
}

td div:hover {
  white-space: normal;
  overflow-x: auto;
  cursor: pointer;
  max-height: 5000px;
  transition: 0.5s all ease-in-out;
  transition-delay: 0.15s;
}

th {
  font-family: "Playfair Display", serif;
  font-size: 120%;
}

.left {
  text-align: left;
  min-width: 190px;
}

.right {
  text-align: right;
}

th,
.bottom {
  border-bottom: 1px dashed #68696b;
}

th {
  vertical-align: bottom;
}

.double {
  border-bottom: 2px solid #68696b;
}
.total {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

td {
  padding: 0rem 0.4rem 0.1rem 0.4rem;
  vertical-align: top;
}

tr {
  margin-top: 5rem;
}

.bold {
  font-weight: 600;
}

.digits {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.pull-right {
  /* float: right; */
  margin-right: 2rem;
  width: 30px;
  text-align: right;
}

.pp {
  width: 70px;
}

.center {
  text-align: center;
  width: 20px;
}
.tick {
  text-indent: 4px;
}

.table-break {
  height: 4rem;
  vertical-align: bottom;
}

strong {
  font-weight: 600;
}

.tight {
  max-width: 100%;
}

.upper {
  text-transform: uppercase;
  /* letter-spacing: 1.1px; */
}

.border {
  border-bottom: 1px dashed #68696b;
  font-weight: 500;
}

.sources {
  margin-top: 5rem;
  opacity: 0.8;
}
/* Accordion
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button-foot {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
  opacity: 1;
  margin: 0px;
  line-height: 0;
  color: #3b3b3d;
  margin-left: -1.6rem;
}

.button-foot:hover {
  color: #66495c;
  border: none;
  outline: none;
  background-color: var(--main-bg-color);
}

.button-foot:after {
  content: "\02795";
  font-size: 13px;
  margin-left: 0.6rem;
}

.button-foot.active:after {
  content: "\2796";
}

/* Style the accordion panel. Note: hidden by default */
.footnotes {
  border-bottom: 1px dashed rgba(59, 59, 61, 0.5);
  /* opacity: 0.75; */
  font-size: 80%;
  /* width: 80%; */
  margin-bottom: 2.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.footnotes h6 {
  margin-top: 1.5rem;
}
