body {
  font-family: monospace;
  background: #7c92f7;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

canvas {
  border-radius: 10px;
  cursor: pointer;
}

iframe {
  border-radius: 10px;
  box-shadow: 0px 8px 16px #000;
  text-align: center;
}
